body {
  background-color: #EAF6F6;
  text-align: center;
font-family: 'Merriweather', serif;
color: #40514E;
}
h1{
font-family: 'Sacramento', cursive;
font-size: 580.2%;
margin: 50px;
color: #66BFBF;

}
h2{font-family: 'Montserrat', sans-serif;
color: #66BFBF;
padding: 1px;

}
h3{font-family: 'Montserrat', sans-serif;
color: #66BFBF;}

.bottom-cloud{
position: absolute;
left: 300px;
bottom: 250px;
margin-bottom: 50px;
}
.accenturepic{

  margin-bottom: 0px;
}
.anAutomationTester{
line-height: 2;
font-style: italic;
font-size: 2rem;
font-weight: normal;
padding: 20px;

}

.smallhr{
  border-width: 1px;
  width: 40%;


}
.accenturepicLocation{

  margin-top: 0;
}
.top-cloud{
position: absolute;
right: 300px;
top: 40px;


}


p{


  line-height: 1.5;
}
.middle-container{


  margin: 50px 0;
}
.profilePara{

width: 48%;
margin: auto;

}
.personalInfoSection{
text-align: center;
width: 70%;
margin-left: 10%;
}
.jobdetails{
font-size: 20px;
font-style: normal;


}
.work-Ex{
margin: 100px auto 100px auto;

}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
  background-image: -o-linear-gradient(top, #11CDD4, #11999e);
  background-image: linear-gradient(to bottom, #11CDD4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.accimagetable{
margin-left: 250px;
text-align: center;
padding: px;
border-spacing: 15px;

}
.top-container{

  position: relative;
  padding-top: 100px;
}
.accentureDetailsPara{
  text-align: left;
  margin-left: 20px;
  line-height: 1.6;




}
.bottom-container{

  background-color:  #66BFBF;
  padding: 20px 0 10px;
}
a{
  font-family: 'Montserrat', sans-serif;
color: #11999E;

text-decoration: none;

}


a:hover{


  color: #EAF6F6;
}




.footer-link{  font-family: 'Montserrat', sans-serif;
color: #11999E;

text-decoration: none;
margin: 10px 20px}




.copyRight{
  color: #EAF6F6;
font-size: 0.75rem;
padding: 20px 0px;
line-height: 0;
}
